* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*CRIANDO VARIÁVEIS SCSS*/

$cor-texto-claro: white;
$cor-texto-escuro: rgb(8, 36, 68);
$botao-cor-claro: #fafa3c;
$botao-cor-medio: #eee734;
$botao-cor-medio-escuro: rgba(108, 100, 7, 0.5);
$botao-cor-escuro: rgb(12,52,84); 
$tamanhos-fonte-pequena: 18px;
$tamanhos-fonte-grande: 4rem;
$tamanhos-fonte-media: 1.5rem;
$tamanho-fonte-subtitulo: 3rem;

@mixin displayRowCenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@mixin displayOculto {
    display: none;
}

@mixin displayRowSA {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

@mixin displayRowReverse {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
}


@mixin displayColumnReverse {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;

}

@mixin displayColumnSA {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5em;

}

@mixin linksClicaveis {
    cursor: pointer;
    color: $cor-texto-escuro;
    text-decoration: none;
    
    &:hover {
        color: $cor-texto-claro;
        text-shadow: 1px 1px 1px black;
    }
}

@mixin displayRowSB {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
