body {
    /*background-color: url(img/abstract-surface-textures-white-concrete-stone-wall.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}

/*======DEFININDO RESET DA PÁGINA - CONFIGURAÇÕES GERAIS QUE SERÃO INCPORADOS A TODAS AS PÁGINAS=========
Estes padrões aqui estão sendo aplicados para DESKTOP:*/

* { /*RESETD DA PÁGINA*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
  }

    body {
        overflow-x: hidden;
        position: relative;
    }

   /*IMPORTANDO FONTES DE FORA (DOWNLOADS)*/
  @font-face {
      font-family: 'rustling_treesregular';
      src: url('webfontkit-20240527-124332/rustling-trees-regular_-_copia-webfont.woff2') format('woff2'),
           url('webfontkit-20240527-124332/rustling-trees-regular_-_copia-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'latomedium';
      src: url('lato-mediun-webfont.woff2') format('woff2'),
           url('lato-mediun-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  :root {
    --bkg1: rgb(12,52,84);
    --bkg2: rgb(8, 36, 68);
    --hover:  #fdfd40;
    --menutxt: white;
    --button_color: #ffc907;
    --shad: rgb(52, 52, 52);
    --footer: rgb(12,52,84);
    --fonte_principal: 'rustling_treesregular';
    --fonte_secundaria: 'latomedium', sans-serif;
    --fonte_terciaria: "Constantia";
  }

  .whats-button img {
    height: 100px;
    width: 100px;
}

.whats-button { /*os atributos para um botão flutuante devem ser aplicados à <a> 
    tag, e não à*/
    position: fixed;
    right: 20px;
    bottom: 20px;
}
  /*================== INICIO DO CONTEÚDO ==================*/
  /*================== INICIO DO CONTEÚDO - CONTEÚDO DA LANDING PAGE ==================*/
  
.heroimg_lp {
      background: linear-gradient(to right, rgb(1, 1, 1), rgba(46, 31, 2, 0.2)), url(img/fogueira-ia.jpeg) no-repeat center center;
      background-size: cover;
      background-position-x: right;
      height: 130vh;
      display: flex;
      justify-content:left;
      align-items:center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.heroimg_lp::before {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  }
  
.hero_text1 {text-align: center;}
.hero_text1 p {color: var(--menutxt); margin-top: 2%;}

.heroimg_homepageescola {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/garotinho-fazendo-licao-de-casa-na-biblioteca.jpg
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.hero_text {text-align: center; justify-content: center; }
.hero_text p {font-size: 40px; color: var(--menutxt); margin-top: 2%;text-shadow: 2px 2px 8px black;}
.hero_text h2 {color: var(--menutxt); font-size: 70px; text-shadow: 2px 2px 8px black; font-family: var(--fonte_secundaria); width: 100%;}

.button_findschool {
    display: inline-block;
    margin-top: 8%;
    text-align: center;
    font-family: var(--fonte_terciaria);
    font-weight: 650;
    background-color: var(--hover);
    font-size: 22px;
    padding: 20px 18px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 3px 5px grey;
    text-shadow: 2px 2px 8px black;
    width: 255px;
    text-decoration: none;
    color: var(--menutxt);
}
#titulo {margin-top: 5%;}
#titulo h2 {color: var(--bkg1); font-family: var(--fonte_secundaria); font-size: 50px; text-align: left; font-weight: 650;}
#titulo p {font-size: 25px; color: var(--bkg1); text-shadow: none;}

.cursos {

    position: relative;
    height: 500px;
    max-width: 98vw;
}

.container-pai {
    display: flex;
    justify-content: flex-start; /*manter o justify-content no flex-start, pois possibilita que role ate o slider desejado*/
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    flex-flow: row nowrap;
}

.conteudoum > .caixa-img, .card-text {text-decoration:none; color: var(--bkg1);}

.nav {
    position: absolute;
    top: 50%;
    font-size: 2rem;
}
.next {
    right: -10px;
}

.container-pai::-webkit-scrollbar {display: none;}
.container-pai {
    scrollbar-width: none;
}

.caixa-img {
    height: 70vh;
    scroll-snap-align: start;
    flex: 0 0 250px;
    margin: 2rem; /*não usar gap, pois entra em conflito com a propriedade scroll-snap*/
    box-shadow: 1px 5px 8px gray;
}
.caixa-img img {width: 100%; height: 30vh;}
.card-text {text-align: center; height: 25vh; width: 100%;}
.caixa-img h3, p {font-family: var(--fonte_secundaria);}
.caixa-img h3 {font-weight: 550;}
.card-text p {font-size: 18px; color: var(--bkg1); text-shadow: none;}

#titulo-um h2 {
    font-size: 20px;
}

.propostas, .metodos, .info {
    height: 100vh;
    color: var(--footer);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.propostas h1 {
    font-size: 50px;
}

.propostas img, .metodos img, .info img {
    height: 95vh;
    width: 40%;
    border-radius: 1rem;
}

.package-um {
    width: 45%;
}

.metodos {
    background-color: var(--button_color);
}

#metodos-texto {
    text-align: justify;
}

.resumo_instituicao {
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.resumo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.resumo-paragrafo {
    color: var(--bkg1);
    text-shadow: none;
    font-weight: 600;
    width: 50%;
}

#descricao {
    text-align: justify;

}

.card {
    border: 1px solid black;
    width: 20%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-description  {
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.card-title {
    text-align: center;
}

.card-description {
    color: black;
    text-shadow: none;
}

#titulo-resumo {
    text-align: right;
    font-size: 20px;
}

#banner {
    width: 100vw;
    height: 78vh;
    /*margin: auto;*/
    cursor: pointer;
    /*border: solid 3px black;*/
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 100% 80%;
    background-image: url(img/Banner_MatriculaEJF.png);
}
.divulgacao {
    height: 70vh;
}
.depoimentos {
    background-color: var(--bkg1);
    color: var(--menutxt);
    padding: 20px;
}

.card-container2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 5%;

}

#resumo_instituicao {height: 50vh; margin-top: 5%;}
#resumo_instituicao p {font-size: 20px; text-align: justify; color: var(--bkg1); text-shadow: none;}


/* ============================== PÁGINA DE CURSOS, EVENTOS E PROGRAMAÇÃO ============================== */
.accordion-header h3 {font-size: 20px; font-weight: bold;}
#mobile-img {
      width: 100%;
      height: 40vh;
}
  
.hero_image2 {
      width: 100%;
      background: linear-gradient(to right, rgb(1, 1, 1), rgba(46, 31, 2, 0.2)), url(img/close-up-person-using-mobile-phone.jpg) no-repeat center center;
      background-size: cover;
      background-position-x: right;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.hero_image2 p { width: 100%; text-align: center;}
.hero_image2 h2 { text-shadow: 3px 3px 10px black;}
.hero_image3 {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      text-align: justify;
      border: 2px solid var(--menutxt);
      height: 100vh;
      width: 100%;
}
.hero_content3 p { font-size: 22px;}
.hero_content3 h3 { font-family: var(--fonte_secundaria);}

                 /* ======contato====== */


   /* =====PAGINA DE CONTATO===== */

.form-1{
    border: solid 2px black;
}

.heroimg_contato {
    width: 100%;
    background: linear-gradient(to right, rgb(1, 1, 1), rgba(46, 31, 2, 0.1)), url(img/mulher-mostrando-algo-aos-colegas-durante-uma-reuniao.jpg) no-repeat center center;
    background-size: cover;
    background-position-x: right;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.herotext_contato h2,p {color: var(--menutxt); text-align:center; text-shadow: 3px 3px 10px black;}
.herotext_contato h2 {font-size: 60px;}
.herotext_contato p {font-size: 30px;}

.localizacao h3 {color: var(--menutxt);}


/* ==================== CONTEÚDO DA PÁGINA DE LOCALIZAÇÃO/VISITE-NOS ====================  */
  
.heroimg_local {
      width: 100%;
      background: linear-gradient(to right, rgb(87, 86, 86), rgba(46, 31, 2, 0.2)), url(img/grupo-de-criancas-de-idade-primaria-em-sala-de-aula-com-professores-aprendendo-e-se-divertindo-imagens-de-estilo-de-efeito-vintage.jpg) no-repeat center center;
      background-size: cover;
      background-position-x: right;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.heroimg_local h2,p {text-shadow: 3px 3px 10px black; color: var(--menutxt);}

.herotext_local h2 {color: var(--menutxt); font-family: var(--fonte_secundaria); font-size: 60px;}
.herotext_local {color: var(--menutxt); font-family: var(--fonte_secundaria); font-size: 30px; }

#texto_tres {font-size: 50px; margin-top: 10%; text-align: center; font-weight: 700;}

.heroimg_local2 {
      width: 100%;
      background: linear-gradient(to right, rgb(87, 86, 86), rgba(46, 31, 2, 0.2)), url(img/close-up-person-using-mobile-phone.jpg) no-repeat center center;
      background-size: cover;
      background-position-x: right;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.herotext_local2 h2 {color: var(--menutxt); font-family: var(--fonte_secundaria); font-size: 60px;}
  
.localizacao {
    display: flex;
    text-align: center;
    margin-top: 15%;
    width: 100%;
    background-color: var(--bkg1);
}

.mapa_sede {background-color: var(--button_color); color: var(--menutxt); font-size: 30px; text-shadow: 2px 2px 5px black; border-radius: 15px; padding: 15px; box-shadow: 2px 2px 8px lightgray; border: none;}

.endereco p {
    font-family: var(--fonte_secundaria);
    color: var(--menutxt);
    text-align: left;
    margin-bottom: 5%;
    font-size: 35px;
    text-shadow: none;
}

.localizacao img {width: 60%;}
  
  /*================= FIM DO HEADER E INÍCIO DAS SEÇÕES =================*/
  
  
  .banner {
      width: 100%;
      margin-bottom: 2%;
      min-height: 60vh;
      color: var(--menutxt);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .banner p {
      font-size: 25px;
      margin-top: 3%;
      text-shadow: 2px 2px 5px #131313;
  }
  
  .banner h2 {
      font-family: var(--fonte_principal);
      font-size: 65px;
      font-weight: 400;
      text-shadow: 2px 2px var(--shad);
      text-align: center;
  }
  
  .imagens {width: 500px; height: 300px;}
  
  
  .button_contato {
      border-radius: 5px;
      font-family: var(--fonte_secundaria);
      text-shadow: #131313;
      font-size: 22px;
      align-content: center;
      padding: 5px 20px;
      background-color: var(--hover);
      cursor: pointer;
  }
  



  /* RESTANTE DO CÓDIGO */
  
  .button2 {
      margin-top: 2%;
      border-radius: 5px;
      font-family: var(--fonte_terciaria);
      text-shadow: #131313;
      font-size: 22px;
      padding: 5px 20px;
      background-color: var(--hover);
      cursor: pointer;
  }
  
  .button2:hover {
      color: var(--menutxt);
      text-shadow: 1px 2px #131313;
  }
  
  .button2:active {
      transform: translateY(1.5px);
      }
  
  
  .new_journey {
      margin-top: 8%;
      color: var(--menutxt);
      text-align: center;
      height: 70vh;
  }
  
  .start {
      margin-top: 5%;
      border: 2px outset;
      border-radius: 8px;
      padding: 20px 25px;
      background-color: var(--hover);
      font-family: var(--fonte_terciaria);
      color: black;
      font-size: 30px;
      font-weight: 550;
      box-shadow: 0 8px 1px 0 #2a2a2a;
      cursor: pointer;
  }
  
  .start:hover {
      color: var(--menutxt);
      text-shadow: 1px 2px #3d3d3d;
  }
  .new_journey h2 {
      margin-top: 2%;
  }
  
  .new_journey p {
      margin-top: 3%;
  }
  
  .start:active {
      box-shadow: 0 5px #2a2a2a;
    transform: translateY(4px);
  }

  
   #texto{
      font-family: var(--fonte_secundaria) !important;
      margin-top: 15%;
      text-align: center;
  }


  
  .programacao {
      text-align: center;
      margin-top: 5%;
      height: 130vh;
      width: 100%;
  }
  

  
  .click {
      background-color: var(--hover);
      border-radius: 7px;
      padding: 7px 40px;
      box-shadow: 2px 2px 7px rgb(195, 193, 193);
  }
 
@media screen and (max-width: 768px) {
    
    .heroimg_homepageescola {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/garotinho-fazendo-licao-de-casa-na-biblioteca.jpg
        );
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }

    .hero_text h2 {color: var(--menutxt); font-family: var(--fonte_secundaria); font-size: 3rem;}
    .hero_text p {color: var(--menutxt); font-family: var(--fonte_secundaria); font-size: 1.5rem; }

    .button_findschool {
    display: inline-block;
    margin-top: 8%;
    text-align: center;
    font-family: var(--fonte_terciaria);
    font-weight: 650;
    background-color: var(--hover);
    font-size: 1.3rem;
    padding: 15px 18px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 3px 5px grey;
    text-shadow: 2px 2px 8px black;
    width: 255px;
    text-decoration: none;
    color: var(--menutxt);
    }

    .info, .metodos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .package-um {
        width: 90%;
        text-align: center;
    }

    .info img, .metodos img {
        width: 90%;
        height: 45%;
    }

    .metodos {
        flex-flow: column-reverse;

    }

    .divulgacao {
        height: 40vh;
        margin-bottom: 0;
    }

    #banner {
        height: 50%;
    }

    .card-container2 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 5%;
        gap: 1em;

    }

    .card {
        border: 1px solid black;
        width: 90%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .card-description  {
        text-align: center;
    }

    .card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;

    }

    .card-title {
        text-align: center;
    }

    .card-description {
        color: black;
        text-shadow: none;
    }

     .resumo_instituicao {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .resumo_instituicao img {
        width: 50%;
        height: auto;
    }

    .resumo-paragrafo {
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }


}

@media screen and (min-width: 769 px) and (max-width: 1080px) {
    
}