
/* ==================== CONTEÚDO DA PÁGINA QUEM SOMOS ==================== */

.box-container h1 {
    font-size: 70px;
    font-weight: 600;
    color: var(--bkg1);
    margin-top: 10%;
    margin-left: 8%;
}

.box-container {display: flex; flex-direction: row; width: 100%; justify-content: space-around; }

.box_one {width: 55%;}

.box_one p {
    font-size: 20px;
    color: var(--bkg1);
    margin-top: 5%;
    margin-left: 8%;
    text-align: justify;
    text-shadow: none;
    font-weight: 530;
}
.box_two {width: 35%; }
.box_two img {
    height: 90%;
    width: 100%;
    align-items: center;
    margin-top: 10%;
    margin-right: 5%;
}

.propostas {
    height: 100vh;
    color: var(--footer);
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: var(--button_color);
    border: none;
}

.propostas h1 {
    font-size: 50px;
}

.propostas img {
    height: 85vh;
    width: 40%;
    border-radius: 1rem;
}

.package-um {
    width: 45%;
}


.package-um p {
    color: var(--bkg1);
    text-shadow: none;
    font-size: 20px;
    text-align: justify;
}

.container_two {
    width: 100%;
    height: 100vh;
}

.container_two h1 {
    color: var(--bkg1) !important;
}

.unidade {
    background-color: var(--bkg1);
}

.unidade h4 {
    color: var(--menutxt);
}

.unidade h1 {
    color: var(--menutxt);
    font-size: 50px;
    text-align: center;
}

.unidade-um, .unidade-dois {
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.unidade-um img, .unidade-dois img {
    border-radius: 10px;
}

.unidade-dois {
    flex-direction: row-reverse;
}

#banner_dois {
    margin-top: 5%;
    text-align: center;
    border: none;
}

#banner_dois p {font-size: 40px;font-family: var(--fonte_secundaria); color: var(--bkg1); text-shadow: none;}
#banner_dois h1 {
    font-size: 60px;
    color: var(--bkg2);
    font-weight: 550;
    margin-bottom: 5%;
}

#nav-list {
    display: block;
    list-style-type: circle;
    font-size: 20px;
    font-weight: bold;
}

.contato-form {
    margin-top: 1%;
    height: 180vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contato-form p {
    color: var(--bkg1);
    text-shadow: none;
    font-size: 30px;
}
label {
    color: var(--menutxt);
    font-size: 20px;
    margin: 1%;
}
.formulario {
    width: 50%;
}

.formulario-inscricao {
    display: flex;
    flex-flow: column;
    background-color: var(--bkg1);
    border-radius: 10px;
    padding: 20px;
}

.formulario-inscricao p {
    font-size: 20px;
    color: var(--menutxt);
    text-shadow: none;
}
input[type=text], #assunto {
    padding: 7px;
    width: 90%;
    border-radius: 10px;
    margin: 10px;
}
input::placeholder {
    padding: 10px;
}

.submeter {
    padding: 2%;
    border-radius: 25px;
    background-color: var(--hover);
    width: 80%;
    margin: auto;
}

.card-container-pai {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}

.card-proposta {
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    border: 1px solid blue;
    gap: 1em;
    border-radius: 10px;
    box-shadow: 3px 2px 8px grey;
    margin: 2%;
    background-color: var(--button_color);
}

.card-proposta img {
    border-radius: 10px 10px 0 0;
}

.proposta-pedagogica {
    text-align: center;
}

.proposta-pedagogica h1 {
    color: var(--bkg1);
    font-size: 4rem;
}

.card-button {
    padding: 20px;
    border-radius: 45px;
    background-color: var(--bkg1);
    color: var(--menutxt);
    font-size: 15px;
    font-weight: 500;
}

.card-descritivo {
    height: 0;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button_color);
    border-radius: 10px;
    overflow:hidden;
    transition: .5s ease;
    text-align: center;
}

.card-proposta:hover div {
    height: 100%;
    cursor: pointer;
    
}

.card-descritivo p {
    color: var(--bkg1);
    font-size: 1rem;
    font-weight: 600;
    text-shadow: none;
    text-align: center;
    width: 75%;
    margin-top: auto;
    margin: auto;
}