*{
    margin: 0;
    padding: 0;
}
.card-container.swiper {
    
  width: 90%; /* Ajuste como preferir */
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0; /* Espaço para não cortar as sombras dos cards */
  /*overflow: hidden; /* Importante para não criar barra de rolagem */
  height: auto;
  position: relative;
}

.card-conteudo img {
    height: 250px;
    width: 100%;
    border-radius: 2%;
    border: 3px solid var(--bkg1);
    padding: 4px;
}

.card-conteudo.swiper-slide {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 8px grey;
    padding: 20px;
}

.botao-card {
    padding: 7px 20px;
    background-color: yellow;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 3px 8px gray;
    color: white;
    text-shadow: 1px 2px black
}

.swiper-button-prev, .swiper-button-next {
    color: yellow !important;
}

.card-container-pai {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}

.card-proposta {
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    border: 1px solid blue;
    gap: 1em;
    border-radius: 10px;
    box-shadow: 3px 2px 8px grey;
    margin: 2%;
    background-color: var(--bkg2);
}

.card-proposta img {
    border-radius: 10px 10px 0 0;
}

.proposta-pedagogica {
    text-align: center;
}

.proposta-pedagogica h1 {
    color: var(--bkg1);
    font-size: 4rem;
}

.card-button {
    padding: 20px;
    border-radius: 45px;
    background-color: var(--bkg1);
    color: var(--menutxt);
    font-size: 15px;
    font-weight: 500;
}

.card-descritivo {
    height: 0;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bkg2);
    border-radius: 10px;
    overflow:hidden;
    transition: .5s ease;
    text-align: center;
}

.card-proposta:hover div {
    height: 100%;
    cursor: pointer;
    
}

.card-descritivo p {
    color: var(--bkg1);
    font-size: 1rem;
    font-weight: 600;
    text-shadow: none;
    text-align: center;
    width: 75%;
    margin-top: auto;
    margin: auto;
}