body {
    background-color: url(img/abstract-surface-textures-white-concrete-stone-wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*======DEFININDO RESET DA PÁGINA - CONFIGURAÇÕES GERAIS QUE SERÃO INCPORADOS A TODAS AS PÁGINAS=========
Estes padrões aqui estão sendo aplicados para DESKTOP:*/

* { /*RESETD DA PÁGINA*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
   /*IMPORTANDO FONTES DE FORA (DOWNLOADS)*/
  @font-face {
      font-family: 'rustling_treesregular';
      src: url('webfontkit-20240527-124332/rustling-trees-regular_-_copia-webfont.woff2') format('woff2'),
           url('webfontkit-20240527-124332/rustling-trees-regular_-_copia-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'latomedium';
      src: url('lato-mediun-webfont.woff2') format('woff2'),
           url('lato-mediun-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  /*========== FIM DO NAVBAR ==========*/
  /*================== INICIO DO CONTEÚDO ==================*/
  /*================== INICIO DO CONTEÚDO - INDEX/landing page ==================*/
  
  .heroimg_lp {
      background: linear-gradient(to right, rgb(1, 1, 1), rgba(46, 31, 2, 0.2)), url(img/fogueira-ia.jpeg) no-repeat center center;
      background-size: cover;
      background-position-x: right;
      height: 130vh;
      display: flex;
      justify-content:left;
      align-items:center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .heroimg_lp::before {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  }
  
  .hero_text1 {
      text-align: center;
  }
  
  .hero_text1 p {
      color: var(--menutxt);
      margin-top: 2%;
  }

  
  /* ========CONTEÚDO DA HOME PAGE========== */
  
  .heroimg_homepage {
      background: url(img/3d-silhouette-man-with-arms-raised-against-sunset-ocean-landscape.jpg) no-repeat center center;
      background-size: cover;
      height: 80vh;
      display: flex;
      justify-content:center;
      align-items:center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .hero_text_hp {
      text-align: center;
      justify-content: center;
  }
  
  .hero_text_hp p {font-size: 40px; color: var(--menutxt); margin-top: 2%;}
  .hero_text_hp h2 {color: var(--menutxt); font-size: 80px; text-shadow: 2px 2px 8px black; font-family: var(--fonte_secundaria);}

  #button1 {
    display: inline-block;
    margin-top: 8%;
    text-align: center;
    font-family: var(--fonte_terciaria);
    font-weight: 650;
    background-color: var(--hover);
    font-size: 22px;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 3px 5px grey;
    text-shadow: 2px 2px 8px black;
    width: 250px;
}

main h1 {
    font-size: 70px;
    font-weight: 600;
    color: var(--menutxt);
    margin-top: 10%;
    margin-left: 8%;
}

main {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.box_one {width: 60%; background-color: var(--bkg2);height: 120vh;}

.box_one p {
    font-size: 20px;
    color: var(--menutxt);
    margin-top: 5%;
    margin-left: 8%;
}
.box_two {width: 40%; background-color: var(--bkg2); height: 120vh;}
.box_two img {
    width: 95%;
    height: 110vh;
    align-items: center;
    margin-right: 5%;
}

#banner_um {
    margin-top: 5%;
    text-align: center;
    /* height: 250vh; */
}

#banner_um p {
    font-size: 40px;
    font-family: var(--fonte_secundaria);
}
#banner_um h1 {
    font-size: 60px;
    color: var(--bkg2);
    font-weight: 550;
    margin-bottom: 5%;
}

#home-tab-pane, #contact-tab-pane, #igcu-tab-pane {text-align: justify; margin: auto;}

#home-tab-pane img, #profile-tab-pane img {width: 500px; height: 350px; display: block; margin-left: auto; margin-right: auto; margin-top: 3%;}

#home-tab-pane p, #contact-tab-pane p, #profile-tab-pane p, #igcu-tab-pane p {font-size: 20px; width: 65%; margin: auto;}
.nav-item a {
    font-size: 20px;
}
#contact-tab-pane img{display: block; margin-left: auto; margin-right: auto;}

#nav-list {
    display: block;
    list-style-type: circle;
    font-size: 20px;
    font-weight: bold;
}

  /* PÁGINA DE PROGRAMAÇÃO */
  .accordion-header h3 {font-size: 20px; font-weight: bold;}
  

  #mobile-img {
      width: 100%;
      height: 40vh;
  }
  
  
  
  .hero_image2 {
      width: 100%;
      background: linear-gradient(to right, rgb(1, 1, 1), rgba(46, 31, 2, 0.2)), url(img/close-up-person-using-mobile-phone.jpg) no-repeat center center;
      background-size: cover;
      background-position-x: right;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .hero_image2 p {
      width: 100%;
      text-align: center;
  }
  
  .hero_image2 h2 {
      text-shadow: 3px 3px 10px black;
  }
  
  .hero_image3 {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      text-align: justify;
      border: 2px solid var(--menutxt);
      height: 100vh;
      width: 100%;
  }
  .hero_content3 p {
      font-size: 22px;
  }
  
  .hero_content3 h3 {
      font-family: var(--fonte_secundaria);
  
  }
  
  .hero_image5 {
      width: 100%;
      background: linear-gradient(to right, rgb(87, 86, 86), rgba(46, 31, 2, 0.2)), url(img/WhatsApp\ Image\ 2024-05-28\ at\ 10.25.41.jpeg) no-repeat center center;
      background-size: cover;
      background-position-x: right;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .hero_image5 p {
      width: 100%;
      text-align: center;
  }
  
  .hero_image5 h2 {
      text-shadow: 3px 3px 10px black;
  }
  
  .contato {
      margin: 5%;
      height: 80vh;
      width: 100%;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  #button {
      display: block;
      margin-top: 5%;
      margin-left: 35%;
      border: 2px solid black;
      border-radius: 5px;
      padding: 10px;
      font-family: var(--fonte_principal);
      color: var(--menutxt);
      background-color: black;
  }
  
  .formtag {
      color: var(--bkg1);
      font-weight: 500;
      font-family: var(--fonte_secundaria);
      font-size: 20px;
      display: block;
  }
  
  /*================= FIM DO HEADER E INÍCIO DAS SEÇÕES =================*/
  
  
  .banner {
      width: 100%;
      margin-bottom: 2%;
      min-height: 60vh;
      color: var(--menutxt);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .banner p {
      font-size: 25px;
      margin-top: 3%;
  }
  
  .banner h2 {
      font-family: var(--fonte_principal);
      font-size: 65px;
      font-weight: 400;
      text-shadow: 2px 2px var(--shad);
      text-align: center;
  }
  /* SESSÃO DE SERVIÇOS E POLAROID */
  .servicos {
      margin: 2%;
  }
  
  .servicos img {
      height: 50vh; width: 23%;
  }
  
  /* =======POLAROID DA ÁREA DE CONTATO======== */
  .boxvinte {
      margin-top: 8%;
  }
  
  .boxvinte h3 {
      font-family: var(--fonte_secundaria);
  }
  
  .contato_content {
      margin-top: 5%;
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 80vh;
  }
  
  .imagens {width: 500px; height: 300px;}
  
  
  .button_contato {
      border-radius: 5px;
      font-family: var(--fonte_secundaria);
      text-shadow: #131313;
      font-size: 22px;
      align-content: center;
      padding: 5px 20px;
      background-color: var(--hover);
      cursor: pointer;
  }
  
  /* RESTANTE DO CÓDIGO */
  
  .button2 {
      margin-top: 2%;
      border-radius: 5px;
      font-family: var(--fonte_terciaria);
      text-shadow: #131313;
      font-size: 22px;
      padding: 5px 20px;
      background-color: var(--hover);
      cursor: pointer;
  }
  
  .button2:hover {
      color: var(--menutxt);
      text-shadow: 1px 2px #131313;
  }
  
  .button2:active {
      transform: translateY(1.5px);
      }
  
  
  .new_journey {
      margin-top: 8%;
      color: var(--menutxt);
      text-align: center;
      height: 70vh;
  }
  
  .start {
      margin-top: 5%;
      border: 2px outset;
      border-radius: 8px;
      padding: 20px 25px;
      background-color: var(--hover);
      font-family: var(--fonte_terciaria);
      color: black;
      font-size: 30px;
      font-weight: 550;
      box-shadow: 0 8px 1px 0 #2a2a2a;
      cursor: pointer;
  }
  
  .start:hover {
      color: var(--menutxt);
      text-shadow: 1px 2px #3d3d3d;
  }
  .new_journey h2 {
      margin-top: 2%;
  }
  
  .new_journey p {
      margin-top: 3%;
  }
  
  .start:active {
      box-shadow: 0 5px #2a2a2a;
    transform: translateY(4px);
  }
  
  .localizacao {
      display: flex;
      text-align: center;
      margin-top: 15%;
      height: 120vh;
      width: 100%;
  }
  
   #texto{
      font-family: var(--fonte_secundaria) !important;
      margin-top: 15%;
      text-align: center;
  }
  
  .programacao {
      text-align: center;
      margin-top: 5%;
      height: 130vh;
      width: 100%;
  }
  
  .localizacao h3{
      font-family: var(--fonte_principal);
      color: #ffffff;
      font-size: 50px;
  }
  
  .click {
      background-color: var(--hover);
      border-radius: 7px;
      padding: 7px 40px;
      box-shadow: 2px 2px 7px rgb(195, 193, 193);
  }
  
  .localizacao p{
      color: var(--menutxt);
  }
  
  /*============= CONSTRUÇÃO DO RODAPÉ ===========*/
  footer {
      border-top: 1px solid black;
      background-color: var(--bkg1);
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      /* PARA QUE CADA ITEM DO FOOTER POSSA ESTAR BEM ENCAIXADO EM SUAS POSIÇÕES, COLOQUEI O DISPLAY FLEX E DEPOIS AJUSTEI PARA A DIREÇÃO DE COLUNA, POIS O LOGO FICA EMCIMA DOS CONTEÚDOS E OS CONTEÚDOS DE RODAPÉ NO MEIO E A VERSÃO DE COPYRIGHTING NO FINALX E O JUSTIFY-CONTENT COMO SPACE-BETWEEN PARA QUE TODOS OS CONTEÚDOS FIQUEM DISPOSTOS COLADOS NA DIV-PAI */
      height: 80vh;
      width: 100%;
  }
  
  #logotipo {
      font-size: 30px;
  }
  
  /*====== AO INVES DE COLOCAR UMA FLEX, EXPERIMENTAR UMA GRID ======*/
  .container-footer {
      height: 30vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
  }
  
  .rodape-info {
      height: auto;
      width: 20%;
      text-align: center;
  }
  
  .rodape-info a {
      margin-top: 5%;
      display: block;
      font-family: var(--fonte_secundaria);
      color: var(--menutxt);
      font-size: 18px;
      text-decoration: none;

  }
  
  .rodape-info a:hover {
      text-shadow: 2px 2px var(--shad);
  }
  
  .rodape-info h3 {
      font-family: var(--fonte_secundaria)
      font-size: 30px;
      color: var(--menutxt);
      text-shadow: 2px 2px var(--shad);
  }
  
  #nota h4 {
      font-size: 15px;
      color: white !important;
  }
  
 
  /*MEDIA QUERY - MOBILE ATÉ 992px*/
 
  

  .box_one {width: 60%; background-color: var(--bkg2);height: 120vh;}

  .box_one p {
      font-size: 18px;
      color: var(--menutxt);
      margin-top: 5%;
      margin-left: 8%;
      font-family: var(--fonte_secundaria);
  }
  
  .box_one h1{
    font-size: 50px;
  }
  .box_two {width: 40%; background-color: var(--bkg2); height: 120vh;}
  .box_two img {
      width: 95%;
      height: 110vh;
      align-items: center;
      margin-right: 5%;
  }
  
  
  /* AQUI ENTRA OUTRAS PÁGINAS */
  
  
  /* ===MEDIA QUERY=== */
    
  /* ======CONSTRUÇÃO DE MEDIA QUERY====== */
  /* ===MEDIA QUERY DO MENU=== */
 
    /* CONTEUDO PARA MOBILE - INDEX */
    /* TOPO - HERO IMAGE 1 BANNER E BOTÕES */
    .hero_image1 {
        background: linear-gradient(to right, rgb(1, 1, 1), rgba(46, 31, 2, 0.2)), url(img/fogueira-ia.jpeg) no-repeat center center;
        background-size: cover;
        background-position-x: right;
        height: 80vh;
        display: block;
        justify-content:left;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    #mobile-img {
        width: 90%;
        height: 28vh;
    }

    .hero_image1::before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    }
    .hero_text1 {
        text-align: center;
    }

    .hero_text1 h2 {
        font-size: 50px;
    }

    .hero_text1 p {
        color: var(--menutxt);
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #button1 {
        display: inline-block;
        margin-top: 8%;
        text-align: center;
        font-family: var(--fonte_terciaria);
        font-weight: 550;
        background-color: var(--hover);
        font-size: 20px;
        padding: 18px;
        text-transform: uppercase;
        border-radius: 10px;
        box-shadow: 0 3px 5px grey;
    }

    #button1:hover {
        color: var(--menutxt);
        text-shadow: 1px 1px rgb(74, 74, 74);
    }

    .banner {
        width: 100%;
        margin: 0;
        min-height: 40vh;
        text-align: center;
        color: var(--menutxt);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .banner p {
        margin-top: 10%;
        font-size: 25px;
    }
    
    .banner h2 {
        font-family: var(--fonte_terciaria);
        margin-top: 2%;
        font-size: 50px;
        font-weight: 400;
        font-style: bold;
        text-shadow: 2px 2px var(--shad);
    }
    /* SESSÃO DE SERVIÇOS E POLAROID */
    .servicos {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente, se necessário */
        flex-wrap: wrap; /* Permite que os itens quebrem linha, se necessário */
        text-align: center;
    }

    .servicos img {
        height: 30vh; width: 81%;
        border-radius: 0;
        margin: auto;
    }
    
    .imagens {width: 100%;}

    .container h2{font-family: var(--fonte_principal); color: var(--menutxt); font-size: 50px; text-align: center;}

    /* =====PAGINA DE CONTATO===== */

    .hero_image2 {
        width: 100%;
        background: linear-gradient(to right, rgb(1, 1, 1), rgba(46, 31, 2, 0.2)), url(img/close-up-person-using-mobile-phone.jpg) no-repeat center center;
        background-size: cover;
        background-position-x: right;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .hero_image2 p {
        width: 100%;
        text-align: center;
    }

    .hero_image2 h2 {
        text-shadow: 3px 3px 10px black;
    }

    /* =======POLAROID DA ÁREA DE CONTATO======== */
    .boxvinte {
        margin-top: 8%;
    }
    
    .boxvinte h3 {
        font-family: var(--fonte_secundaria);
        font-size: 50px;
        margin-bottom: 10%;
    }
    
    .contato_content {
        margin: 0 auto;
        display: inline-block;
        padding: 5px;
        width: 100%;
        height: 80vh;
    }
    .container-content {font-size: 20px;}
    
    .button_contato {
        border-radius: 5px;
        font-family: var(--fonte_secundaria);
        text-shadow: #131313;
        font-size: 22px;
        align-content: center;
        padding: 5px 20px;
        background-color: var(--hover);
        cursor: pointer;
    }

    .hero_image3 {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        text-align: justify;
        border: 2px solid var(--menutxt);
        height: 100vh;
        width: 100%;
    }
    .hero_content3 p {
        font-size: 22px;
    }

    .hero_content3 h3 {
        font-family: var(--fonte_secundaria);

    }

    /* LOCALIZAÇÃO */

    .hero_image5 {
        width: 100%;
        background: linear-gradient(to right, rgb(87, 86, 86), rgba(46, 31, 2, 0.2)), url(WhatsApp\ Image\ 2024-05-28\ at\ 10.25.41.jpeg) no-repeat center center;
        background-size: cover;
        background-position-x: right;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .hero_image5 p {
        width: 100%;
        text-align: center;
    }

    .hero_image5 h2 {
        text-shadow: 3px 3px 10px black;
    }

    .endereco p {
        text-align: left;
        margin-bottom: 5%;
    }

    .contato {
        margin: 5%;
        height: 80vh;
        width: 100%;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    #button {
        display: block;
        margin-top: 5%;
        margin-left: 35%;
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px;
        font-family: var(--fonte_principal);
        color: var(--menutxt);
        background-color: black;
    }

    .formtag {
        color: var(--bkg1);
        font-weight: 500;
        font-family: var(--fonte_secundaria);
        font-size: 20px;
        display: block;
    }
    
    /* RESTANTE DO CÓDIGO */
    
    .button2 {
        margin-top: 2%;
        border-radius: 5px;
        font-family: var(--fonte_terciaria);
        text-shadow: #131313;
        font-size: 22px;
        padding: 5px 20px;
        background-color: var(--hover);
        cursor: pointer;
    }
    
    .button2:hover {
        color: var(--menutxt);
        text-shadow: 1px 2px #131313;
    }
    
    .button2:active {
        transform: translateY(1.5px);
        }
    
    
    .new_journey {
        margin-top: 20%;
        color: var(--menutxt);
        text-align: center;
        height: 40vh;
    }
    
    .start {
        margin-top: 5%;
        border: 2px outset;
        border-radius: 8px;
        padding: 15px 20px;
        background-color: var(--hover);
        font-family: var(--fonte_terciaria);
        color: black;
        font-size: 20px;
        font-weight: 550;
        box-shadow: 0 8px 1px 0 #2a2a2a;
        cursor: pointer;
    }
    
    .start:hover {
        color: var(--menutxt);
        text-shadow: 1px 2px #3d3d3d;
    }
    .new_journey h2 {
        margin-top: 2%;
    }
    
    .new_journey p {
        margin-top: 3%;
    }
    
    .start:active {
        box-shadow: 0 5px #2a2a2a;
      transform: translateY(4px);
    }
    
    .localizacao {
        text-align: center;
        height: 120vh;
        width: 100%;
    }
    
    :where(.localizacao) h3{
        font-family: var(--fonte_secundaria) !important;
        font-size: 30px !important;
        margin-bottom: 5%;
    }

    /* ====PÁGINA DE PROGRAMAÇÃO==== */
    
    .programacao {
        text-align: center;
        margin-top: 5%;
        height: 80vh;
        width: 100%;
    }

    .programacao h3 {
        font-size: 50px;
    }

    .conteudoprogramatico {
        margin: 2%;
    }

    .conteudoprogramatico p {
        font-size: 25px;
        text-align: left;
    }
    
    .localizacao h3{
        font-family: var(--fonte_principal);
        color: #ffffff;
        font-size: 20px;
    }
    
    .click {
        background-color: var(--hover);
        border-radius: 7px;
        padding: 7px 40px;
        box-shadow: 2px 2px 7px rgb(195, 193, 193);
    }
    
    .localizacao p{
        color: var(--menutxt);
    }
    
    .box_one {width: 60%; background-color: var(--bkg2);height: 120vh;}

    .box_one p {
        font-size: 20px;
        color: var(--menutxt);
        margin-top: 5%;
        margin-left: 8%;
    }
    .box_two {width: 40%; background-color: var(--bkg2); height: 120vh;}
    .box_two img {
        width: 95%;
        height: 110vh;
        align-items: center;
        margin-right: 5%;
    }
    
    #banner_um {
        margin-top: 5%;
        text-align: center;
        /* height: 250vh; */
    }
    
    #banner_um p {
        font-size: 40px;
        font-family: var(--fonte_secundaria);
    }
    #banner_um h1 {
        font-size: 60px;
        color: var(--bkg2);
        font-weight: 550;
        margin-bottom: 5%;
    }
    
    #home-tab-pane, #contact-tab-pane, #igcu-tab-pane {text-align: justify; margin: auto;}
    
    #home-tab-pane img, #profile-tab-pane img {width: 400px; height: 250px; display: block; margin-left: auto; margin-right: auto; margin-top: 3%;}
    
    #home-tab-pane p, #contact-tab-pane p, #profile-tab-pane p, #igcu-tab-pane p {font-size: 17px; width: 65%; margin: auto;}
    .nav-item a,  {
        font-size: 20px;
    }
    #contact-tab-pane img{display: block; margin-left: auto; margin-right: auto;}
    
    #nav-list {
        display: block;
        list-style-type: circle;
        font-size: 20px;
        font-weight: bold;
    }
    
      /* PÁGINA DE PROGRAMAÇÃO */
      .accordion-header h3 {font-size: 20px; font-weight: bold;}





    /*============= CONSTRUÇÃO DO RODAPÉ ===========*/
    footer {
        border-top: 1px solid black;
        background-color: var(--bkg1);
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        /* PARA QUE CADA ITEM DO FOOTER POSSA ESTAR BEM ENCAIXADO EM SUAS POSIÇÕES, COLOQUEI O DISPLAY FLEX E DEPOIS AJUSTEI PARA A DIREÇÃO DE COLUNA, POIS O LOGO FICA EMCIMA DOS CONTEÚDOS E OS CONTEÚDOS DE RODAPÉ NO MEIO E A VERSÃO DE COPYRIGHTING NO FINALX E O JUSTIFY-CONTENT COMO SPACE-BETWEEN PARA QUE TODOS OS CONTEÚDOS FIQUEM DISPOSTOS COLADOS NA DIV-PAI */
        height: 80vh;
        width: 100%;
    }
    
    #logotipo {
        font-size: 30px;
    }
    .h3_rodape {display: none;}
    /*====== AO INVES DE COLOCAR UMA FLEX, EXPERIMENTAR UMA GRID ======*/
    .container-footer {
        height: 30vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
    }
    
    .rodape-info {
        height: auto;
        width: 20%;
        text-align: center;
    }
    
    .rodape-info a {
        margin-top: 5%;
        display: block;
        font-family: "Roboto", sans-serif;
        color: var(--menutxt);
        font-size: 18px;
    }
    
    .rodape-info a:hover {
        text-shadow: 2px 2px var(--shad);
    }
    
    .rodape-info h3 {
        font-family: var(--fonte_secundaria);
        font-size: 30px;
        color: var(--menutxt);
        text-shadow: 2px 2px var(--shad);
    }
    
    #nota {
        margin-top: 5%;
        font-size: 15px;
        color: white !important;
    }
}